* {
  box-sizing: border-box;
  font-family: Verdana, serif;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #222222;
  color: #cccccc;
}
h1 {
  font-size: 60px;
  margin: 1em auto;
  text-align: center;
}
